@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="number"]의 우측 화살표 제거 */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  html {
    font-family: 'Jua', sans-serif;
  }
}